<!DOCTYPE HTML>

<html>

<head>

    @await Html.PartialAsync("MetatagesPartial")
    @await Html.PartialAsync("CssPartial")
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true">
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/css/animate.css" asp-append-version="true">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" asp-append-version="true">
    <!-- nice select CSS -->
    <link rel="stylesheet" href="~/css/nice-select.css" asp-append-version="true">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/css/all.css" asp-append-version="true">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="~/css/flaticon.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/themify-icons.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/lightslider.min.css" asp-append-version="true">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/css/magnific-popup.css" asp-append-version="true">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="~/css/slick.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/price_rangs.css" asp-append-version="true">
    <!-- style CSS -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <link href="~/css/rating.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    <div id="page-wrapper">

        @await Html.PartialAsync("HeaderPartial")
        <div id="main">
            <div class="container">
                <div class="row main-row">

                    <div class="col-8 col-12-medium ">
                        @RenderBody()

                    </div>
                    @await Html.PartialAsync("SidebarPartial")
                </div>

            </div>
        </div>
        @await Html.PartialAsync("FooterPartial")
    </div>
    @await Html.PartialAsync("ScriptsPartial")
    <!-- jquery plugins here-->
    <script src="~/js/jquery-1.12.1.min.js" asp-append-version="true"></script>
    <!-- popper js -->
    <script src="~/js/popper.min.js" asp-append-version="true"></script>

    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>

    <script src="~/js/jquery.magnific-popup.js" type="text/javascript" asp-append-version="true"></script>

    <script src="~/js/swiper.min.js" asp-append-version="true"></script>

    <script src="~/js/masonry.pkgd.js" asp-append-version="true"></script>
    <script src="~/js/masonry.pkgd.min.js" asp-append-version="true"></script>

    <script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.nice-select.min.js" asp-append-version="true" type="text/javascript"></script>

    <script src="~/js/slick.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.counterup.min.js" asp-append-version="true"></script>
    <script src="~/js/waypoints.min.js" asp-append-version="true"></script>
    <script src="~/js/contact.js" asp-append-version="true"></script>
    <script src="~/js/jquery.ajaxchimp.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.form.js" asp-append-version="true"></script>
    <script src="~/js/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/js/mail-script.js" asp-append-version="true"></script>
    <script src="~/js/stellar.js" asp-append-version="true"></script>
    <script src="~/js/price_rangs.js" asp-append-version="true"></script>
    <script src="~/js/lightslider.min.js" asp-append-version="true"></script>
    <script src="~/js/custom.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>