@using Shoping.BLL.Service
<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <header id="header">
                    <h1><a href="/" id="logo">@Config.CompanyName</a></h1>
                    <nav id="nav">
                        <a asp-controller="Home" asp-action="Index">Главная</a>
                        <a asp-controller="Services" asp-action="Index" asp-route-id="">Наши услуги</a>
                        <a asp-controller="Home" asp-action="Contact">Контакты</a>
                        


                        @await Html.PartialAsync("LoginPartial")
                    </nav>
                </header>

            </div>
        </div>
    </div>
</div>