@using Microsoft.AspNetCore.Identity
@using Shoping.DAL.Entities
@using System.Security.Claims
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <a asp-controller="Admin" asp-action="Index">Адмін-панель</a>

    <a asp-controller="Account" asp-action="Logout">Вийти</a>

}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}